/**
 * Add global styles here.
 * For example, if you wanted to load a font from Google Fonts:
 * @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
 */

/* Custom styles for the Fitness Book theme go here */

:root {
  /* Set custom theme variables based on the colors in docusaurus.config.js */
  --ifm-color-primary: #3E64FF;
  --ifm-color-primary-dark: #375ac4;
  --ifm-color-primary-darker: #3556ba;
  --ifm-color-primary-darkest: #2d4899;
  --ifm-color-primary-light: #456ef0;
  --ifm-color-primary-lighter: #4872fa;
  --ifm-color-primary-lightest: #6a95ff;
}
